<style type="text/css">
    .weui-menu-inner {
        border-left: 0px;
        background-color: #F3F3F5;
    }
    .weui-menu-inner .pic {
        padding-top: 5px;
        height: 25px;
    }
    .weui-menu-inner .title {
        font-size: 0.75rem;
    }
</style>
        <br />
        <br />
        <br />

        <section class="weui-menu">
            <!--{list func=pointlist pointid=21}-->
            <div class="weui-menu-inner">
                <div class="pic"><a href="$v[link]"><img src="$v[thumb]" width="25" height="25"></a></div>
                <div class="title">$v[textlink]</div>
            </div>
            <!--{/list}-->
        </section>
    </body>

</html>