<!--{template headhtml}-->
</head><body class="sidebar-left ">
<div class="page-container">
  <!--{template head}-->
  <div id="main-container">
    <div id="leftmenu"><!--{template sidebar}--></div>
    <div id="main-content" class="main-content container-fluid">
        <!--{template location}-->
      <div class="main-contain">
        <div class="widget widget-simple widget-table">
          <div role="grid" class="datatable-wrapper form-inline">
            <div class="row-fluid">
              <div class="widget-header">
                <div class="span4" style="margin-top:10px;">
                  <ul class="btn-toolbar">
                    <li><a class="btn btn-green " href="$_M[cururl]&ac=add&formid=">新建表单</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <table class="table table-striped table-content table-condensed boo-table table-hover bg-blue-light" >
              <thead>
                <tr>
                  <th scope="col" width="50">表单ID</th>
                  <th scope="col">表单名称</th>
                  <th scope="col" class="hidden-tablet hidden-phone">数据库表名</th>
                  <th scope="col">状态</th>
                  <th scope="col" width="330">操作</th>
                </tr>
              </thead>
              <tbody role="alert" aria-live="polite" aria-relevant="all">
                <!--{loop $list $v}-->
                <tr>
                  <td>$v[id]</td>
                  <td>$v[formname]</td>
                  <td>{$_M[config][db][tablepre]}$v[tablename]</td>
                  <td class="hidden-tablet hidden-phone">$v[_enable]</td>
                  <td align="center" class=" text-right">
                    <a class="btn btn-small btn-glyph" href="$_M[cururl]&ac=edit&formid=$v[id]"><i class="fontello-icon-pencil-1"></i>编辑</a>
                    <a class="btn btn-small btn-glyph" href="$_M[cururl]&ac=fields&do=list&formid=$v[id]"><i class="fontello-icon-list-alt"></i>字段管理</a>
                    <a class="btn btn-small btn-glyph" href="$_M[cururl]&ac=data&do=list&formid=$v[id]"><i class="fontello-icon-align-justify"></i>数据管理</a>
                    <a href="{echo pseudoUrl('main.php?mod=customform&ac=pub&formid='.$v[id])}" target="_blank" class="btn btn-small btn-glyph"><i class="fontello-icon-link"></i>预览</a>
                    <a href="$_M[cururl]&ac=del&id=$v[id]" onClick="return confirm('此表单下的所有数据及程序都将被删除，确定删除吗？')?true:false;" class="btn btn-small btn-glyph"><i class="fontello-icon-cancel-4"></i>删除</a>
                  </td>
                </tr>
                <!--{/loop}-->
                <tr>
                  <td colspan="5" align="center">$pagehtml</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--{template foot}-->
</div>
</body>
</html>