<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html>
<!--<![endif]-->

<head>
<title>{echo $menuname?$menuname.' - ':''} $_M[sys][cmsname]</title>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="description" content="">

<link href="$_M[sys][static_url]assets/css/lib/bootstrap.css" rel="stylesheet">
<link href="$_M[sys][static_url]assets/css/lib/bootstrap-responsive.css" rel="stylesheet">
<link href="$_M[sys][static_url]assets/css/extension.css" rel="stylesheet">
<link href="$_M[sys][static_url]assets/css/mopcms.css" rel="stylesheet">
<link href="$_M[sys][static_url]assets/css/coloring.css" rel="stylesheet">
<link href="$_M[sys][static_url]assets/css/style.css" rel="stylesheet">
<link href="$_M[sys][static_url]assets/css/utility.css" rel="stylesheet">

<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="$_M[sys][static_url]assets/plugins/selectivizr/selectivizr-min.js"></script>
    <script src="$_M[sys][static_url]assets/plugins/flot/excanvas.min.js"></script>
<![endif]-->

<link rel="shortcut icon" href="$_M[sys][basehost]/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="$_M[sys][static_url]assets/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="$_M[sys][static_url]assets/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="$_M[sys][static_url]assets/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="$_M[sys][static_url]assets/ico/apple-touch-icon-57-precomposed.png">
<script src="$_M[sys][static_url]assets/js/lib/jquery.js"></script>
<style type="text/css">
.main-contain {
    margin-left: 5px;
}
</style>