<!--{template headhtml}-->
</head>
<style type="text/css">
    .btn:hover,
    .btn:active,
    .btn.active,
    .btn.disabled,
    .btn[disabled] {
        background: #3b9b28 none repeat scroll 0 0;
        color: #ffffff;
        text-shadow: 0 0px 0px;
    }
    
    .radio,
    .checkbox {
        padding-left: 0px;
    }
    
    div.checker {
        margin-left: 0px;
    }
    
    .page-content {
        padding-bottom: 0px;
    }
    
    form {
        margin: 0 0 0px;
    }
    
    .form-actions {
        background: none;
    }
    
    label,
    .label-field {
        font-weight: normal;
    }
</style>

<body class="sidebar-left ">
    <div class="page-container">
        <!--{template head}-->
        <div id="main-container">
            <div id="leftmenu">
                <!--{template sidebar}-->
            </div>
            <div id="main-content" class="main-content container-fluid">
                <div id="page-content" class="page-content tab-content">
                    <div class="tabbable tabbable-bordered tabs-top">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#TabTop1" data-toggle="tab">功能搜索</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active fade in">
                                <ul class="form-list list-bordered dotted">
                                    <li class="control-group">
                                        <div class="controls">
                                            <!--{loop $list $v}-->
                                            <!--{if !empty($v[mod])}-->
                                            <p>
                                                <a href="$v[url]">$v[name]{echo !empty($v[pluginid])?'[应用]':''}</a>
                                                <span style="color:gray">({echo !empty($v[pluginid])?$v[pluginid].':':''}{$v[mod]}_{$v[ac]})</span></p>
                                            
                                            <!--{else}-->
                                            <p><a href="$v[url]">$v[name]{echo !empty($v[pluginid])?'[应用]':''}</a></p>
                                            <!--{/if}-->
                                            <!--{/loop}-->
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--{template foot}-->
    </div>
</body>

</html>