<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html>
<!--<![endif]-->

<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="description" content="">
<link href="$_M[sys][static_url]assets/css/lib/bootstrap.css" rel="stylesheet">
<link href="$_M[sys][static_url]assets/css/mopcms.css" rel="stylesheet">
<link href="$_M[sys][static_url]css/default.css" rel="stylesheet">
<link rel="shortcut icon" href="$_M[sys][basehost]/favicon.ico">
<link href="$_M[sys][static_url]assets/css/extension.css" rel="stylesheet">
<script src="$_M[sys][static_url]assets/js/lib/jquery.js"></script>