<!--{template headhtml}-->
<title>{$_data[title]} - {$_M[sys][webname]}</title>
<meta name="keywords" content="$_data[keywords]" />
<meta name="description" content="$_data[description]" />
<script>
	var res = navigator.userAgent.toLowerCase().match(/android|iphone/);
	if(res == 'android' || res == 'iphone') {
		location = "{echo pseudoUrl($_M[sys][basehost].'/main.php?mod=archives&ac=view&id='.$_data[id])}";
	}
</script>
<link rel="stylesheet" href='$_M[sys][static_url]amazeui/css/amazeui.min.css' />
<link rel="stylesheet" href='$_M[sys][static_url]css/list.css' />
<link rel="stylesheet" href="$_M[sys][static_url]assets/css/coloring.css">
<link rel="stylesheet" href="$_M[sys][static_url]css/goods_view.css">
</head>

<body>
	<!--{template head}-->
	<div class="am-cf wrap">
		<ol class="am-breadcrumb am-margin-0">
			<span class="am-icon-home fc_grey"> 当前位置：</span>
			<!--{loop $_data[column][position] $v}-->
			<li style='list-style:none; display:inline;'>
				<a href='$v[link]'>$v[columnname]</a>
			</li>
			<span class="breadcrumb_arrow"> ></span>
			<!--{/loop}-->
		</ol>
	</div>
	<DIV class="am-cf wrap_list">
		<div class="span5">
			<div><img src="{echo imageResize($_data[thumb],380,380)}"></div>
			<div class="share_btn">
                <!-- JiaThis Button BEGIN -->
                <div class="jiathis_style">
                    <!--{if pluginIsAvailable('member')}-->
                    <!--{eval loadcache('plugin:member');require_once loadlib('member:mop');}-->
                    <span class="share_to btn-collect"><i class="am-icon-star-o" style="margin-top:-5px;"></i> 收藏(<mark class="collect-count">0</mark>) &amp;</span>
                    <script src="$_M[sys][static_url]assets/plugins/pl-system-info/notyfy/jquery.notyfy.js "></script>
                    <script>
                        $(function() {
                            $('.btn-collect').click(function() {
                                $.getJSON("{echo rewriteUrl('?mod=ajax&ac=collectSave&aid='.$_data[id].'&mcallback=?')}", function(result) {
                                    if(result.code == 100) {
                                        $('.collect-count').html(parseInt($('.collect-count').html())+1);
                                        notyfy({text: result.msg,type: 'success',dismissQueue: true,layout: 'center',timeout: 2000,});
                                    }else{
                                        notyfy({text: result.msg,type: 'error',dismissQueue: true,layout: 'center',timeout: 2000,});
                                    }
                                });
                            });
                            $.getJSON("{echo rewriteUrl('?mod=ajax&ac=collectCount&aid='.$_data[id].'&mcallback=?')}", function(result) {
                                if(result.code == 100) {
                                    $('.collect-count').html(result.data);
                                }
                            });
                        });
                    </script>
                    <!--{/if}-->
                    <span class="share_to"><i class="am-icon-share-alt"></i> 分享到：</span>
                    <a class="jiathis_button_qzone"></a>
                    <a class="jiathis_button_tsina"></a>
                    <a class="jiathis_button_tqq"></a>
                    <a class="jiathis_button_weixin"></a>
                    <a class="jiathis_button_douban"></a>
                    <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                </div>
                <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
                <!-- JiaThis Button END -->
            </div>
		</div>
		<div class="span7">
			<div class="wrap_goods_base">
				<h1>$_data[title]</h1>
				<div class="goods_info">
					<div class="bg_price">
						<dl>
							<dt>售&#12288;&#12288;价：</dt>
							<dd><b class="fs_26 fc_orange">$_data[attach][_trueprice]</b> $_data[attach][trueprice_units]</dd>
						</dl>
						<dl>
							<dt>原&#12288;&#12288;价：</dt>
							<dd><del>$_data[attach][_price]</del> $_data[attach][price_units]</dd>
						</dl>
					</div>
					<dl>
						<dt>品&#12288;&#12288;牌：</dt>
						<dd>$_data[attach][_brand]</dd>
					</dl>
					<dl>
						<dt>更新时间：</dt>
						<dd><i>$_data[_updatetime]</i></dd>
					</dl>
					<dl>
						<dt>有效期至：</dt>
						<dd><i>$_data[attach][_validity]</i></dd>
					</dl>
					<dl>
						<dt>所属分类：</dt>
						<dd><span>$_data[attach][_goodssort]</span></dd>
					</dl>
					<dl>
						<dt>人&#12288;&#12288;气：</dt>
						<dd><span class="views-count">$_data[views]</span></dd>
					</dl>
				</div>
			</div>
		</div>
	</div>
	<DIV class="am-cf wrap_list">
		<div id="navinfo" class="navbdcolor">
			<ul>
				<li>
					<div class="cur navbgcolor">商品详情</div>
				</li>
			</ul>
		</div>
		<div class="content" style="margin-top:10px;">$_data[attach][content]</div>
		<style type="text/css">
			.span2 {
				width: 440px;
			}
		</style>
		<script src="{echo pseudoUrl($_M[sys][basehost].'/main.php?mod=comments&ac=ajaxlist&aid='.$_data[id])}"></script>
	</div>
	<script>
		$(function() {
			$.getJSON("{echo pseudoUrl($_M[sys][basehost].'/main.php?mod=archives&ac=dcviews&id='.$_data[id].'&mcallback=?')}", function(result) {
				if(result.code == 100) {
					$('.views-count').html(result.data.views);
					$('.ding-count').html(result.data.ding);
					$('.cai-count').html(result.data.cai);
				}
			});
		});
	</script>
	<!--{template foot}-->
	<script src="{echo pseudoUrl($_M[sys][basehost].'/main.php?mod=archives&ac=makehtml&type=a&cycle=86400&id='.$_data[id])}"></script>
</body>

</html>