<!--{template headhtml}-->
<title>{$_data[title]} - {$_M[sys][webname]}</title>
<meta name="keywords" content="$_data[keywords]" />
<meta name="description" content="$_data[description]" />
<script>
	var res = navigator.userAgent.toLowerCase().match(/android|iphone/);
	if(res == 'android' || res == 'iphone') {
		location = "{echo pseudoUrl($_M[sys][basehost].'/main.php?mod=archives&ac=view&id='.$_data[id])}";
	}
</script>
<link rel="stylesheet" href='$_M[sys][static_url]amazeui/css/amazeui.min.css' />
<link rel="stylesheet" href='$_M[sys][static_url]css/list.css' />
<link rel="stylesheet" href="$_M[sys][static_url]assets/css/coloring.css">
<link href="$_M[sys][static_url]/css/article.css" rel="stylesheet" />
</head>

<body>
	<!--{template head}-->
	<div class="am-cf wrap">
		<ol class="am-breadcrumb am-margin-0">
			<span class="am-icon-home fc_grey"> 当前位置：</span>
			<!--{loop $_data[column][position] $v}-->
			<li style='list-style:none; display:inline;'>
				<a href='$v[link]'>$v[columnname]</a>
			</li>
			<span class="breadcrumb_arrow"> ></span>
			<!--{/loop}-->
		</ol>
	</div>
	<DIV class="am-cf wrap_list">
		<div class="wrap_list_l">
			<div class="detail_cont">
				<header class="sc-header">
					<h1 class="sc-title">$_data[title]</h1>
					<div class="sc-statistics"> <span class="fontello-icon-clock" title="发布时间">$_data[_createtime]</span> <span class="fontello-icon-eye views-count" title="浏览次数">$_data[views]</span> <span class="fontello-icon-share" title="来源">$_data[source]</span>
						<div class="sc-share">
							<!-- JiaThis Button BEGIN -->
							<div class="jiathis_style">
								<font class="jiathis_txt">分享到：</font>
								<a class="jiathis_button_qzone"></a>
								<a class="jiathis_button_tsina"></a>
								<a class="jiathis_button_tqq"></a>
								<a class="jiathis_button_weixin"></a>
								<a class="jiathis_button_douban"></a>
								<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
							</div>
							<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
							<!-- JiaThis Button END -->

						</div>
					</div>
				</header>
				<article class="sc-article">
					<aside class="sc-aside"> $_data[description] </aside>
					<div class="content">$_data[attach][content]</div>
					<div class="widget-footer">
						<div class="btn-group paging_full_numbers">$_data[pagelist]</div>
					</div>
				</article>
				<div class="detail-footer">
					<div class="df-buttons dc-btn" data-type="ding">
						<a class="df-button"><span class="fontello-icon-thumbs-up"></span><span class="button-done">赞</span>
							<aside>(<mark class="ding-count">$_data[ding]</mark>)</aside>
						</a>
					</div>
					<div class="df-buttons dc-btn" data-type="cai">
						<a class="df-button"><span class="fontello-icon-thumbs-down-3"></span><span class="button-done">踩</span>
							<aside>(<mark class="cai-count ">$_data[cai]</mark>)</aside>
						</a>
					</div>
					<!--{if pluginIsAvailable('member')}-->
                    <!--{eval loadcache('plugin:member');require_once loadlib('member:mop');}-->
                    <div class="df-buttons btn-collect">
                        <a class="df-button"><span class="fontello-icon-star-1"></span><span class="button-done">收藏</span>
                            <aside>(<mark class="collect-count">0</mark>)</aside>
                        </a>
                    </div>
                    <script src="$_M[sys][static_url]assets/plugins/pl-system-info/notyfy/jquery.notyfy.js "></script>
                    <script>
                        $(function() {
                            $('.btn-collect').click(function() {
                                $.getJSON("{echo rewriteUrl('?mod=ajax&ac=collectSave&aid='.$_data[id].'&mcallback=?')}", function(result) {
                                    if(result.code == 100) {
                                        $('.collect-count').html(parseInt($('.collect-count').html())+1);
                                        notyfy({text: result.msg,type: 'success',dismissQueue: true,layout: 'center',timeout: 2000,});
                                    }else{
                                        notyfy({text: result.msg,type: 'error',dismissQueue: true,layout: 'center',timeout: 2000,});
                                    }
                                });
                            });
                            $.getJSON("{echo rewriteUrl('?mod=ajax&ac=collectCount&aid='.$_data[id].'&mcallback=?')}", function(result) {
                                if(result.code == 100) {
                                    $('.collect-count').html(result.data);
                                }
                            });
                        });
                    </script>
                    <!--{/if}-->
					<div class="df-share">
						<!-- JiaThis Button BEGIN -->
						<div class="jiathis_style_32x32">
							<a class="jiathis_button_qzone"></a>
							<a class="jiathis_button_tsina"></a>
							<a class="jiathis_button_tqq"></a>
							<a class="jiathis_button_weixin"></a>
							<a class="jiathis_button_douban"></a>
							<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
						</div>
						<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
						<!-- JiaThis Button END -->

					</div>
				</div>
			</div>
			<!--{if $_M[sys][keyword_like]}-->
			<table class="table table-bordered boo-table mtop relate_news">
				<thead>
					<tr>
						<th scope="col">相关文章</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<ul>
								<!--{list func=relateArchives words=$_data[keywords] pcolumnid=$_data[column][parentid] columnid=$_data[columnid] id=$_data[id] limit=8 titlelen=21}-->
								<li>·
									<a href="$v[link]" target="_blank">$v[title]</a>
								</li>
								<!--{/list}-->
								<div class="clearfix"></div>
							</ul>
						</td>
					</tr>
				</tbody>
			</table>
			<!--{/if}-->
			<script src="{echo pseudoUrl($_M[sys][basehost].'/main.php?mod=comments&ac=ajaxlist&aid='.$_data[id])}"></script>
		</div>
		<!--{template mod_right}-->
	</div>
	<script>
		$(function() {
			$.getJSON("{echo pseudoUrl($_M[sys][basehost].'/main.php?mod=archives&ac=dcviews&id='.$_data[id].'&mcallback=?')}", function(result) {
				if(result.code == 100) {
					$('.views-count').html(result.data.views);
					$('.ding-count').html(result.data.ding);
					$('.cai-count').html(result.data.cai);
				}
			});
			$('.dc-btn').click(function() {
				type = $(this).data('type');
				$.getJSON("{echo pseudoUrl($_M[sys][basehost].'/main.php?mod=archives&ac=dcviews&id='.$_data[id].'&mcallback=?')}&type=" + type, function(result) {
					if(result.code == 100) {
						$('.ding-count').html(result.data.ding);
						$('.cai-count').html(result.data.cai);
					}
				});
			});
		});
	</script>
	<!--{template foot}-->
	<script src="{echo pseudoUrl($_M[sys][basehost].'/main.php?mod=archives&ac=makehtml&type=a&cycle=86400&id='.$_data[id])}"></script>
</body>

</html>