.cl:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.xl1 li {
	height: 1.5em;
	overflow: hidden;
}
.xld dd {
	margin-bottom: 8px;
}
.xld .m {
	float: left;
	margin: 3px 8px 10px 0;
}
.ml li {
	float: left;
	padding: 0 5px 5px;
	text-align: center;
	overflow: hidden;
}
.frame-1-1-l, .frame-1-1-1-l, .frame-1-1-1-c, .frame-2-1-l, .frame-1-2-l, .frame-3-1-l, .frame-1-3-l {
	float: left;
}
.frame-1-1-r, .frame-1-1-1-r, .frame-2-1-r, .frame-1-2-r, .frame-3-1-r, .frame-1-3-r {
	float: right;
}
.frame-1-1-l, .frame-1-1-r {
	width: 49.9%
}
.frame-1-1-1-l, .frame-1-1-1-c, .frame-1-1-1-r, .frame-2-1-r, .frame-1-2-l {
	width: 33.3%
}
.frame-3-1-l, .frame-1-3-r {
	width: 74.9%;
}
.frame-3-1-r, .frame-1-3-l {
	width: 24.9%;
}
.frame-1-1-1 .col-l {
	float: left;
	width: 33.3%;
}
.frame-1-1-1 .col-c {
	float: left;
	width: 33.3%;
}
.frame-1-1-1 .col-r {
	float: right;
	width: 33.3%;
}
.block {
	margin: 0px;
}
.syjrgz {
	position: relative;/* margin: 10px; */
}
.syjrgz .title {
	padding: 0;
	height: 29px;
	line-height: 29px;
}
.syjrgz .titletext {
	font-size: 16px;
	color: #413d3a;
	font-weight: 700;
	padding: 0 0 0 50px;
	margin-top: 5px;
}
.syjrgz .subtitle {
	font-size: 16px;
	font-weight: 700;
	color: #ec7e3f;
	padding: 0 0 0 5px;
	display: inline-block;
	margin-top: 5px;
}
.syjrgz .riqi {
	position: absolute;
	top: 10px;
	right: 15px;
}
.syjrgz #dtime {
	font-size: 12px;
	color: #ec7e3f;
}
.syjrgz .dxb_bc {
	padding: 0 0 0 10px;
}
.syjrgz .xld dd {
	margin: 0;
}
.syjrgz dl.cl {
	padding: 15px 0;
	border-bottom: 1px solid #d9dbde;
	padding-bottom: 10px;
}
.syjrgz dl.cl.cc3 {
	border-bottom: none;
	padding-bottom: 0;
}
.syjrgz dl.cl dt {
	padding: 0 0 5px 0;
}
.syjrgz dl.cl dt a {
	font-size: 16px;
	color: #4d4d4d;
	font-weight: normal;
	margin: 0 85px;
	width: 340px;
	height: 21px;
	overflow: hidden;
}
.syjrgz dl.cl dt a:hover {
	color: #df3737;
}
.syjrgz dl.cl dd span a:hover {
	color: #df3737;
}
.syjrgz dl.cl dd {
	font-size: 14px;
	color: #969595;
	line-height: 30px;
	word-break: break-all;
}
.syjrgz dl.cl dd span a {
	color: #ff8738;
	font-size: 14px;
}
.ca {
	margin-top: 20px;
}
.ca .frame-1-2-l {
	width: 560px;
	margin-right: 10px;
}
.ca .frame-1-2-r {
	width: 430px;
}
.ca_z {
	border: 0px;
	background: #fff url(../images/hot.jpg) 0 0 no-repeat;
	height: 270px;
	border: 1px solid #E6E6E6;
	margin-left: 0px;
}
.ca_z .dxb_bc {
	margin: 0 20px;
}
#ck {
	color: #E8B18C;
}
.ca_hdp {
	height: 340px;
}
.ie_all .ca_hdp {
	height: 300px;
}
.ca .slideshow span.title {
	position: absolute;
	bottom: 0px;
	_bottom: -1px;
	left: 0;
	margin-bottom: 0;
	width: 613px;
	height: 55px;
	line-height: 55px;
	font-size: 16px;
	text-indent: 10px;
	font-weight: normal
}
.ie6 .ca .slideshow span.title {
	color: #333;
	background: #C0DDFB;
	opacity: .7;
	filter: alpha(opacity=90);
}
.ca .hdp .slidebar {
	position: relative;
	float: right;
	bottom: 30px;
	right: 10px;
}
.ca .hdp .slidebar span {
	text-align: center;
	color: #898890;
	font-weight: 600;
	float: left;
	display: inline-block;
	width: 50px;
	height: 12px;
	cursor: pointer;
	background: #fff;
	margin-right: 10px;
}
.ca .hdp .slidebar span.on {
	background: #FB9817;
	width: 50px;
	height: 12px;
}
.cb {
	margin-top: 20px;
	border: 0;
}
.cb .frame-2-1-l {
	width: 710px;
	height: 261px;
	margin-right: 10px;
}
.cb .frame-2-1-r {
	width: 280px;
	height: 261px;
}
.twzx {
	background: #fff;
	height: 261px;
	border: 1px solid #E6E6E6;
}
.twzx .title {
	background: url(../images/titlebg1.jpg) repeat-x 0 25px;
	height: 50px;
	line-height: 50px;
	padding: 0px;
}
.twzx .titletext {
	background: #fff url(../images/titlebg2.jpg) no-repeat 10px 5px;
	color: #2f5d09;
	padding-left: 25px;
	padding-right: 10px;
	font-size: 16px;
	width: 75px;
}
.twzx .subtitle {
	background: #fff url(../images/titlebg3.jpg) no-repeat 10px 0;
	color: #FFFFFF;
	font-size: 9px;
	font-weight: normal;
	width: 45px;
	margin-top: 18px;
	padding: 0 0 0 15px;
	line-height: 15px;
}
.twzx dl {
	width: 340px;
	float: left;
	margin-left: 10px;
	_margin-left: 10px;
	margin-bottom: 15px;
}
.twzx dl dt {
	height: 18px;
	overflow: hidden;
	font-size: 16px;
}
.twzx dl dt a {
	color: #4A4A4A;
	font-size: 15px;
}
.twzx dl dd {
	color: #8a8a8a;
	font-size: 14px;
	line-height: 30px;
	margin-top: 8px;
}
.yzrt {
	background: #fff;
	height: 261px;
	border: 1px solid #E6E6E6;
}
.yzrt .title {
	background: url(../images/titlebg1.jpg) repeat-x 0 25px;
	height: 50px;
	line-height: 50px;
	padding: 0px;
}
.yzrt .titletext {
	background: #fff url(../images/titlebg2.jpg) no-repeat 10px 5px;
	color: #2f5d09;
	padding-left: 25px;
	padding-right: 10px;
	font-size: 16px;
	width: 75px;
}
.yzrt .subtitle {
	background: #fff url(../images/titlebg3.jpg) no-repeat 10px 0;
	color: #FFFFFF;
	font-size: 9px;
	font-weight: normal;
	width: 45px;
	margin-top: 18px;
	padding: 0 0 0 15px;
	line-height: 15px
}
.yzrt .dxb_bc {
	margin: 0;
}
.yzrt li {
	background: none !important;
	padding: 4px 10px !important;
	margin-bottom: 4px;
}
.yzrt li a {
	font-size: 14px;
	color: #4A4A4A;
}
.yzrt #rbg .number {
	background: #2f5d09;
	padding: 3px 8px;
}
.yzrt .number {
	background: #C0C0C0;
	padding: 3px 8px;
	font-size: 15px;
	color: #fff;
	margin-right: 10px;
}
.sydiy .tz img {
	height: 170px;
}
.shdd {
	margin-top: 20px;
	border: 1px solid #E6E6E6;
}
.shdd .frame-1-1-l {
	width: 485px;
	margin: 8px 6px;
	_margin: 8px 4px;
}
.shdd .frame-1-1-r {
	width: 485px;
	margin: 8px 6px;
	_margin: 8px 4px;
}
.shdd .title {
	background: url(../images/titlebg4.jpg) no-repeat;
	height: 41px;
	line-height: 41px;
	border-bottom: 1px solid #d9dbde;
	padding: 0 10px;
}
.shdd .titletext {
	font-size: 18px;
	color: #fff;
}
.shdd .subtitle {
	color: #2f5d09;
	font-size: 12px;
	font-weight: normal;
	margin-left: 5px;
	float: right;
}
.qzt {
}
.qzt li {
	position: relative;
	padding: 0px !importaNT;
	margin-bottom: 10px;
}
.qzt li p {
	display: none;
}
.qzt li a:hover p {
	display: block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	position: absolute;
	background: rgba(0,0,0,0.4);
	color: #fff;
	font-weight: normal;
	font-family: "宋体";
	font-size: 13px;
	bottom: 0px;
	left: 0px;
	margin-right: 0px;
	text-align: center;
	left: 0px;
}
.ie6 .qzt li a:hover p, .ie7 .qzt li a:hover p, .ie8 .qzt li a:hover p {
	display: block;
	bottom: 0px;
	margin-left: 0px;
	left: 0px;
	position: absolute;
	text-decoration: none;
	background-color: #000;
	opacity: .7;
	filter: alpha(opacity=90);
	height: 40px;
	line-height: 40px;
	font-size: 12px;
	color: #fff;
	overflow: hidden;
}
.qztz {
}
.qztz li {
	padding-left: 0px !important;
	height: 28px;
	line-height: 28px;
}
.qztz li a {
	color: #555;
	font-size: 14px;
	padding-left: 10px;
}
.sddbtzy {
}
.sddbtzy .xld dt {
	padding: 0px;
	height: 25px;
	overflow: hidden;
}
.sddbtzy .xld dt a {
	color: #333;
	font-size: 16px;
}
.sddbtzy .xld dd {
	color: #8a8a8a;
	font-size: 14px;
	padding-right: 10px;
}
.qz .frame-1-1-l, .qc .frame-1-1-l, .sw .frame-1-1-l, .jh .frame-1-1-l, .fc .frame-1-1-l, .xy .frame-1-1-l {
	width: 190px;
	margin: 0px;
}
.qz .frame-1-1-r, .qc .frame-1-1-r, .sw .frame-1-1-r, .jh .frame-1-1-r, .fc .frame-1-1-r, .xy .frame-1-1-r {
	width: 295px;
	margin: 0px;
}
.qz, .qc, .sw, .jh, .fc, .xy {
	border: 0px;
}
.qz .title, .qc .title, .sw .title, .jh .title, .fc .title, .xy .title {
	height: 41px;
	line-height: 40px;
	background: url(../images/titlebg5.jpg) no-repeat;
	margin: 1px;
	margin-left: 2px;
	border-bottom: 0px solid #d9dbde;
}
.qz .titletext {
	color: #2f5d09;
	font-size: 14px;
}
.qc .titletext {
	color: #2f5d09;
	font-size: 14px;
}
.sw .titletext {
	color: #2f5d09;
	font-size: 14px;
}
.jh .titletext {
	color: #2f5d09;
	font-size: 14px;
}
.fc .titletext {
	color: #2f5d09;
	font-size: 14px;
}
.xy .titletext {
	color: #2f5d09;
	font-size: 14px;
}
.qz .subtitle, .qc .subtitle, .sw .subtitle, .jh .subtitle, .fc .subtitle, .xy .subtitle {
	color: #2f5d09;
	font-size: 12px;
	font-family: "宋体";
	font-weight: normal
}
.qz .subtitle img, .qc .subtitle img, .sw .subtitle img, .jh .subtitle img, .fc .subtitle img, .xy .subtitle img {
	margin: 13px 5px;
}
.qz .dxb_bc, .qc .dxb_bc, .sw .dxb_bc, .jh .dxb_bc, .fc .dxb_bc, .xy .dxb_bc {
	margin-left: 10px;
}
.ltdt {
	margin-top: 20px;
	border: 0;
	border: 1px solid #E6E6E6;
}
.ltdt .title {
	background: url(../images/titlebg4.jpg) no-repeat;
	height: 41px;
	line-height: 41px;
	border-bottom: 1px solid #d9dbde;
}
.ltdt .titletext {
	font-size: 18px;
	color: #fff;
	letter-spacing: 2px;
}
.ltdt .subtitle {
	color: #2f5d09;
	font-size: 12px;
	margin-left: 5px;
}
.yqlj {
	border: 0;
	border: 1px solid #E6E6E6;
}
.yqlj .title {
	background: url(../images/titlebg4.jpg) no-repeat;
	height: 41px;
	line-height: 41px;
	border-bottom: 1px solid #d9dbde;
	padding: 0 10px;
}
.yqlj .titletext {
	font-size: 18px;
	color: #fff;
	letter-spacing: 2px;
}
.yqlj .subtitle {
	color: #2f5d09;
	font-size: 12px;
	margin-left: 5px;
}
.yqlj .dxb_bc {
	padding: 10px 0;
}
.yqlj ul li {
	clear: none;
	float: left;
	padding: 10px 0 0px 20px;
}
.yqlj ul li a {
	font-size: 13px;
}
.sydiy {
	background: #FFF;
	margin-top: 15px;
}
.sydiy .frame-2-1-l {
	width: 850px;
	background: #FFF;
}
.sydiy .frame-2-1-r {
	width: 315px;
}
.sytpj .dxb_bc {
	padding: 10px 0;
}
.ie7 .sytpj .dxb_bc {
	padding-bottom: 12px;
}
.sytpj li {
	padding: 0;
	margin: 0 6px 12px;
	position: relative;
}
.sytpj li p {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 90%;
	padding: 0 5%;
	height: 60px;
	background: rgba(0,0,0,0.4);
	white-space: normal;
}
.ie7 .sytpj li p, .ie8 .sytpj li p {
	background: #000;
	opacity: 0.5;
	filter: alpha(opacity=60);
}
.sytpj li p span {
	color: #fff;
	font-size: 14px;
}
.sytpj li p a {
	display: block;
	height: 60px;
	line-height: 60px;
	font-size: 14px;
	color: #fff;
	overflow: hidden;
}
.sytpj li p a:hover {
	text-decoration: underline !important;
}
.sytpj li:hover p {
	height: 90px;
}
.sytpj li:hover p a {
	height: 50px;
}
.bt1 {
	height: 41px;
	padding: 0 12px 0 0px;
	border-bottom: 1px solid #d9dbde;
}
.bt1 .title {
	background: url(../images/titlebg4.jpg) no-repeat;
	float: left;
	height: 42px;
	line-height: 42px;
	font-size: 18px;
	overflow: visible;
	width: 160px;
	padding: 0 10px;
}
.bt1 .title span {
	display: inline-block;
	height: 50px;
}
.bt1 .titletext.t1 {
	color: #FFFFFF;
}
.bt1 .titletext.t2 {
	color: #FFFFFF;
}
.bt1 ul {
	float: right;
	padding-top: 10px;
}
.bt1 li {
	float: left;
	font-size: 14px;
	color: #6a6a6a;
}
.bt1 li a {
	font-size: 14px;
	color: #6a6a6a;
}
.bt1 li a:hover {
	color: #C39B29;
}
.bt1 li em {
	padding: 0 5px;
}
.focusBox {
	background: white none repeat scroll 0 0;
	font-size: 12px;
	height: 270px;
	line-height: 1.5;
	margin: 0;
	overflow: hidden;
	position: relative;
	text-align: left;
	width: 430px;
}
.focusBox .pic img {
	display: block;
	height: 270px;
	width: 430px;
}
.focusBox .txt-bg {
	background: #333 none repeat scroll 0 0;
	bottom: 0;
	height: 24px;
	opacity: 0.4;
	overflow: hidden;
	position: absolute;
	width: 100%;
	z-index: 1;
}
.focusBox .txt {
	bottom: 0;
	height: 24px;
	overflow: hidden;
	position: absolute;
	width: 100%;
	z-index: 2;
}
.focusBox .txt li {
	bottom: -24px;
	height: 24px;
	line-height: 24px;
	position: absolute;
}
.focusBox .txt li a {
	color: white;
	display: block;
	font-size: 12px;
	font-weight: normal;
	padding: 0 0 0 5px;
	text-decoration: none;
}
.focusBox .num {
	bottom: 3px;
	position: absolute;
	right: 3px;
	z-index: 3;
}
.focusBox .num li {
	cursor: pointer;
	float: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	font-weight: 700;
	height: 16px;
	line-height: 16px;
	margin-left: 1px;
	overflow: hidden;
	position: relative;
	text-align: center;
	width: 17px;
}
.focusBox .num li a, .focusBox .num li span {
	color: white;
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	text-decoration: none;
	top: 0;
	width: 100%;
	z-index: 2;
}
.focusBox .num li span {
	background: black none repeat scroll 0 0;
	opacity: 0.5;
	z-index: 1;
}
.focusBox .num li.on a, .focusBox .num a:hover {
	background: #f60 none repeat scroll 0 0;
}
.search input {
    height: 26px;
}
.search .fontello-icon-search-1 {
    height: 26px;
}