<!--{template headhtml}-->
<script src="$_M[sys][static_url]js/jquery.image-maps.js"></script>
<script type="text/javascript" language="javascript">
$(function(){
	cururl = '$_M[cururl]';
	$('#imgMap').imageMaps();
});
</script>
<style type="text/css">

.form-horizontal .control-label {
    width: 120px;
}
.form-horizontal .controls {
    margin-left: 140px;
}
</style>
</head>
<body class="sidebar-left ">
<div class="page-container">
<!--{template head}-->
<div id="main-container"> 
  <div id="leftmenu"><!--{template sidebar}--></div>
  <div id="main-content" class="main-content container-fluid">
      <!--{template location}-->
    <div class="main-contain">
      <div class="widget widget-simple widget-table">
        <div role="grid" class="datatable-wrapper form-inline" id="exampleDTCF_wrapper">
          <div class="row-fluid">
            <div class="widget-header" style="margin-top:10px;"> <font color="red">用鼠标在页面截图上点击，在结束位置上再点击一下(点击太快可能JS会不起作用，需要重试)</font> </div>
          </div>
          <div id="debug"></div>
          <div id="imgMap"> <img src="{echo imageResize($row[pic])}" name="test" border="0" usemap="#Map" ref='imageMaps' />
            <map name="Map">
            <!--{loop $points $v}-->
              <area shape="rect" coords="$v[coords]" pointid="$v[id]"/>
            <!--{/loop}-->
            </map>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--{template foot}--> 
</div>
<div id="responsive" class="modal hide fade" tabindex="-1" data-width="500">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fontello-icon-cancel-1"></i></button>
    <h4>定位点设置</h4>
  </div>
  <form id="$_M[mod]{$_M[ac]}" class="form-horizontal validform" action="$_M[cururl]" method="post" >
  <input type="hidden" name="formsubmit" value="{FORMSUBMIT}" />
  <input type="hidden" name="pointid" id="pointid" />
  <input type="hidden" name="btnid" id="btnid" />
    <div class="modal-body">
      <div class="row-fluid">
        <ul class="form-list list-bordered">
          <li class="control-group">
              位置描述 <input id="title" class="span7 pointinfo" type="text" name="title">
          </li>
          <li class="control-group">
              图片宽度 <input id="imgwidth" class="span2 pointinfo" type="text" name="imgwidth">px 图片高度 <input id="imgheight" class="span2 pointinfo" type="text" name="imgheight">px
              <span class="help-block">没有可忽略</span>
          </li>
          <li class="control-group">
              标题长度 <input id="titlelen" class="span2 pointinfo" type="text" name="titlelen">
              <span class="help-block">一个汉字、字母或数字等字符算一个长度(没有可忽略)</span>
          </li>
          <li class="control-group">
              摘要长度 <input id="summarylen" class="span2 pointinfo" type="text" name="summarylen">
              <span class="help-block">一个汉字、字母或数字等字符算一个长度(没有可忽略)</span>
          </li>
          <li class="control-group">
              信息数量 <input id="infonums" class="span2 pointinfo" type="text" name="infonums" value="1">
              <span class="help-block">此位置要显示的信息数量</span>
          </li>
          <li class="control-group">
              坐标位置 <input id="coords" class="span6" type="text" name="coords" readonly>
          </li>
        </ul>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" data-dismiss="modal" class="btn btn-boo">关闭</button>
      <button type="submit" class="btn btn-green">保存</button>
    </div>
  </form>
</div>
<script src="$_M[sys][static_url]validform/js/validform_min.js"></script> 
<script>
$(function(){
	$(".validform").Validform({
		tiptype:function(msg,o,cssctl){},
		showAllError:false,
		ignoreHidden:true,
		ajaxPost:true,
		callback:function(data){
			if(data.code==100){
				$('#responsive').modal('hide');
				btnid = $('#btnid').val();
				if($('#edit'+btnid).attr('pointid')==''){
					$('#edit'+btnid).attr('pointid',data.data);
				}
			}else{
				notyfy({
					text: data.msg,
					type: 'error',
					dismissQueue: true,
					layout:'topCenter',
					timeout: 3000,
				});
			}
		}
	});	
})
</script>
<script src="$_M[sys][static_url]assets/plugins/bootstrap-modal/js/bootstrap-modalmanager.js"></script> 
<script src="$_M[sys][static_url]assets/plugins/bootstrap-modal/js/bootstrap-modal.js"></script>
<script src="$_M[sys][static_url]assets/plugins/bootstrap-bootbox/bootbox.min.js"></script> 
</body>
</html>